.nav {
  display: none;
  max-width: 374px;
  @media screen and (min-width: 1024px) {
    display: block;
    max-width: 600px;
    width: 100%;
  }
  @media screen and (min-width: 1200px) {
    max-width: 678px;
  }

  &__lists,
  &__sub-lists {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  &__lists {
    height: calc(100vh - 80px);
    overflow-x: auto;
    @media screen and (min-width: 1024px) {
      height: auto;
      overflow-x: visible;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__link,
  &__sub-link {
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
    color: $light;
    padding: 20px;
    display: flex;
    border-bottom: 1px solid transparent;
    align-items: center;
    grid-gap: 8px;
    background-color: $dark-light;
    border-bottom: 1px solid $dark;
    position: relative;
  }

  &__link {
    font-size: 18px;
    @media screen and (min-width: 1024px) {
      background-color: transparent;
      border: none;
      padding: 0;
    }
  }

  &__sub-link {
    font-size: 16px;
    @media screen and (min-width: 1024px) {
      padding: 8px 18px;
      border-bottom: 1px solid $white-opacity;
    }
  }

  &__drop-svg {
    width: 8px;
    height: 6px;
    transform: rotate(180deg);
    transition: transform 0.2s ease;
  }

  &__sub-lists {
    max-height: 0;
    overflow: hidden;
    @media screen and (min-width: 1024px) {
      overflow: visible;
      position: absolute;
      top: 0;
      max-height: none;
      display: none;
    }
  }

  &__text {
    @media screen and (min-width: 1024px) {
      white-space: nowrap;
    }
  }

  &__item,
  &__sub-item {
    @media screen and (min-width: 1024px) {
      position: relative;
    }
  }


  &._opened {
    animation: right-and-left 1s ease forwards;
    display: block;
    position: fixed;
    background-color: $dark;
    width: 100%;
    height: 100%;
    top: 80px;
    right: 0;
    @media screen and (min-width: 1024px) {
      position: relative;
      height: auto;
      top: auto;
      right: auto;
    }
  }

  &__link._opened,
  &__sub-link._opened {
    background-color: $dark;
  }

  &__link._opened {
    & .nav__drop-svg {
      transform: rotate(0);
    }

    & + .nav__sub-lists._opened {
      & .nav__sub-item:first-child > .nav__sub-link::after {
        @media screen and (min-width: 1024px) {
          content: "";
          width: 28px;
          height: 14px;
          display: block;
          background-repeat: no-repeat;
          background-size: contain;
          background-image: url("../img/icons/drop-arrow.svg");
          position: absolute;
          bottom: 100%;
          left: 40px;
          z-index: 10;
        }
      }
    }
  }

  &__sub-link._opened {
    & .nav__drop-svg {
      @media screen and (min-width: 1024px) {
        transform: rotate(90deg);
      }
    }

    & + .nav__sub-lists._opened {
      @media screen and (min-width: 1024px) {
        padding-top: 0;
        padding-left: 22px;
        left: 100%;
        bottom: 0;
        top: auto;
      }

      & .nav__sub-item:first-child > .nav__sub-link::after {
        content: none;
      }

      & .nav__sub-item:last-child > .nav__sub-link::after {
        @media screen and (min-width: 1024px) {
          content: "";
          width: 28px;
          height: 14px;
          display: block;
          background-repeat: no-repeat;
          background-size: contain;
          background-image: url("../img/icons/drop-arrow.svg");
          position: absolute;
          top: 50%;
          transform: translateY(-50%) rotate(-90deg);
          right: calc(100% - 8px);
          z-index: 10;
        }
      }

      & .nav__sub-item:first-child > .nav__sub-link {
        @media screen and (min-width: 1024px) {
          border-top-left-radius: 8px;
          border-top-right-radius: 8px;
        }
      }
    }
  }

  &__sub-lists._opened {
    max-height: 1000px;
    transition: max-height 2s ease;
    @media screen and (min-width: 1024px) {
      display: block;
      top: 100%;
      padding-top: 29px;
    }

    & .nav__sub-item:last-child > .nav__sub-link {
      @media screen and (min-width: 1024px) {
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
      }
    }
  }
}

@media (hover: hover) {
  .nav__item:hover {
    & .nav__link {
      color: $red;
    }

    & .nav__drop-svg {
      transform: rotate(0);
    }

    & > .nav__sub-lists {
      display: block;
      padding-top: 50px;

      & .nav__sub-item:last-child > .nav__sub-link {
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
      }

      & .nav__sub-item:first-child > .nav__sub-link::after {
        content: "";
        width: 28px;
        height: 14px;
        display: block;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("../img/icons/drop-arrow.svg");
        position: absolute;
        bottom: 100%;
        left: 40px;
        z-index: 10;
      }
    }
  }

  .nav__sub-item:hover {
    & > .nav__sub-link {
      background-color: $dark;
    }

    & .nav__drop-svg {
      transform: rotate(90deg);
    }

    & > .nav__sub-lists {
      display: block;
      padding-left: 22px;
      left: 100%;
      bottom: 0;
      top: auto;

      & .nav__sub-item:first-child > .nav__sub-link {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
      }

      & .nav__sub-item:first-child > .nav__sub-link::after {
        content: none;
      }

      & .nav__sub-item:last-child > .nav__sub-link::after {
        content: "";
        width: 28px;
        height: 14px;
        display: block;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("../img/icons/drop-arrow.svg");
        position: absolute;
        top: 50%;
        transform: translateY(-50%) rotate(-90deg);
        right: calc(100% - 8px);
        z-index: 10;
      }
    }
  }
}
